
body {
    color: #ffffff;
    background-color: darkred;
}

img {
	max-width: 25%;
	margin-top: 20px;
}

h1 {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 400%;
	margin-top: 30px;
    margin-bottom: 20px;
}

p {
	font-family:"Comic Sans MS", cursive, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.rowStats {
	font-weight: bold;
	font-size: 150%;
	padding-top: 8px;
	padding-bottom: 8px;
}
    
.rowBkgd {
	background-color: #eeeeee;
	color: darkred; 
	padding-top: 8px;
	padding-bottom: 8px;
}

.rowStats:last-child {
	padding-top: 30px;
	border-top: 1px solid #eeeeee;
	margin-top: 15px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
}